<ion-header no-border>
    <ion-navbar color="primary">
      <ion-title>
        <div class="header-title">
          {{ 'EXPENSE.TITLE' | translate }}
        </div>
        <!--<img class="logo" src="assets/imgs/logo.png" alt="Despesas">-->
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content class="home">

    <div class="empty-list" *ngIf="expenses.length == 0">
        <div class="empty">
          <p>
              {{ 'ERROR_MESSAGES.EMPTYLIST' | translate }}
          </p>
        </div>
    </div>

    <ion-list>
        <ion-item
          (click)="getDetail(expense._id)"
          *ngFor="let expense of expenses"
        >
         <ion-avatar item-left *ngIf="expense.icon != null">
           <img src="{{expense.icon}}">
         </ion-avatar>
         <h2>{{expense.name}}</h2>
       </ion-item> 
     </ion-list>
   
</ion-content>