<ion-header no-border>
    <ion-navbar color="primary">
      <ion-title>
        <div class="header-title">
            Despesas
        </div>
        <!--<img class="logo" src="assets/imgs/logo.png" alt="Despesas">-->
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content class="home">
    <ion-searchbar [(ngModel)]="terms" placeholder="Pesquisar"></ion-searchbar>
    <button ion-button type="button" (click)="sort()">Ordenar</button>

    <ion-list>
        <ion-item (click)="getDetail(expense._id)"   *ngFor="let expense of result | search : terms | sort: {property: column, order: order}">
         <ion-avatar item-left *ngIf="expense.icon != null">
           <img src="{{expense.icon}}">
         </ion-avatar>
         <h2>{{expense.name}}</h2>
       </ion-item> 
     </ion-list>
   
</ion-content>