page-details {

    ion-card {
        background-color: map-get($colors, 'white') !important;
    }

    ion-card-content {
        padding: 0px !important;
    }

    .col {
        padding: 0px !important;
    }

    .sort-icon {
        font-size: 3em;
        min-width: 10px;
        min-height: 44px;
        padding-right: 8px;
        background-color: rgba(0, 0, 0, 0.2);
    }

    ion-card-title {
        margin: 0 !important;
        padding: 1rem 2rem 1rem 2rem !important;
        font-weight: 600;
        color: map-get($colors, 'white');
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        background-color: map-get($colors, 'secondary');
        background-image: linear-gradient(to right, map-get($colors, 'primary-light'), map-get($colors, 'secondary') 50%);
    }

    ion-card-content p {
        padding: 13px 16px;
    }

    .divider{
        border-left: 1px solid map-get($colors, 'border-title');
    }

    .item {
        background-color: map-get($colors, 'light');
    }

    .list-ios > .item-block {
        &:first-child{
            border-top: none;
        }
        &:last-child{
            border-bottom: none;
        }
    }
    .list-ios > .item-block > .item-inner {
        border-bottom: none;
    }

}
