page-details {

    ion-card {
        background-color: map-get($colors, 'light') !important;
    }

    ion-card-content {
        padding: 0px !important;
    }

    .col {
        padding: 0px !important;
    }

    ion-card-title {
        margin: 0 !important;
        padding: 1rem 2rem 1rem 2rem !important;
        font-weight: 600;
        color: map-get($colors, 'white');
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        background-color: map-get($colors, 'secondary');
        background-image: linear-gradient(to right, map-get($colors, 'primary-light'), map-get($colors, 'secondary') 50%);
    }

    ion-card-content p {
        padding: 13px 16px;
    }

    .divider{
        border-left: 1px solid map-get($colors, 'border-title');
    }

}
